__pycache__/
Laplace/
PDEBench/
*.h5
*.hdf5
*.nc
*.npy
*.pt
*.out
ger_shape/

# include for debugging
!results/optimal_hp_multiple_seeds/ks/fno/20240911_142834_ks_fno_laplace/*
!results/optimal_hp_multiple_seeds_backup/ks/fno/20240911_142834_ks_fno_laplace/*